{% load static %}

<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 foot1">
                    <a>
                        Our Product:
                    </a>
                    <a href="">
                        <img class="img-f-1" src="{% static 'img/footer/logo-grey-alphapay.png' %}" />
                    </a>
                    <a href="">
                        <img class="img-f-2" src="{% static 'img/footer/logo-grey-sepulsa.png' %}" />
                    </a>
                    <a href="">
                        <img class="img-f-3" src="{% static 'img/footer/logo-grey-alphabill.png' %}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 foot2">
                    Contact Person: Mobile Phone: 0877 9609 9530. Email: 
                </div>
                <div class="col-md-5 foot3">
                    academy@alphatech.id
                </div>
            </div>
        </div>
    </footer>
