{% load static %}
    {% include 'web_alterra/header.html' %}                 
        <div class="container home">
            <div class="row home-benefit align-items-center">
                <div class="col-md-4">
                    <div class="home-img">
                        <img src="{% static 'img/home/benefit.png' %}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="home-benefit-text">
                        <h3>Learn awesome tech</h3>
                        <p>You will learn about programming languange, such as Python and Javascript, build 
                            back-end apps using Flask framework with microservice concept, build client-site 
                            apps using React Library etc.</p>
                    </div>
                </div>
            </div>
            <div class="row home-benefit align-items-center">
                <div class="col-md-4">
                    <div class="home-img">
                        <img src="{% static 'img/home/search-job.png' %}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="home-benefit-text">
                        <h3>Land new job</h3>
                        <p>If you can pass this awesome program, you will be part of our reliable tech team for 
                            especially Software Engineer position and other tech position such as Quality 
                            Engineer, Sytem Analyst etc.</p>
                    </div>
                </div>
            </div>
            <div class="row home-benefit align-items-center">
                <div class="col-md-4">
                    <div class="home-img">
                        <img src="{% static 'img/home/get-paid.png' %}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="home-benefit-text">
                        <h3>Get paid to learn</h3>
                        <p>Join for free and earn some money. Yes you read that right, no registration free
                            required to enter this program. To make things even better, you will recieve pocket 
                            money just for participating. Cool right?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row home-desc">
                <div class="col-md-4 desc-img">
                    <div class="home-img">
                        <img src="{% static 'img/home/mission.png' %}"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="home-desc-text">
                        <div class="desc-who">
                            <h2>Who are we?</h2>
                            <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chances (not 
                                even an IT background) to learn within 3 months of being a professional Tech Talent. 
                                What is our mission? We want to improve capability Tech Talent in Indonesia.
                            </p>
                        </div>
                        <div class="desc-what">
                            <h2>What is our mission?</h2>
                            <p>We want to improve capability Tech Talent in Indonesia</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-learn align-items-center">
                <div class="col-md-12">
                    <h2>What will you learn?</h2>
                </div>
            </div>
            <div class="row home-learn-icon align-items-center">
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-html.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-programming.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-git.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-api.png' %}"/>
                    </div>
                </div>
            </div>
            <div class="row home-learn-icon align-items-center">
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-react.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-tdd.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-server.png' %}"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-icon">
                        <img src="{% static 'img/home/learn-scrum.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'web_alterra/footer.html' %}
    
</body>
</html>